ALTER TABLE meetings ADD COLUMN meeting_link_type TEXT; ALTER TABLE meetings ADD COLUMN meeting_link TEXT; ALTER TABLE meetings ADD COLUMN location TEXT; ALTER TABLE meetings ALTER COLUMN room_name DROP NOT NULL;
